<!-- 文章详情页，展示文章具体内容，url形式：https://yoursite/文章标题/ -->
<!-- 同时为「标签tag」，「朋友friend」，「分类categories」，「关于about」页面的承载页面，具体展示取决于page.type -->

<!-- Math Display -->
<% if (page.math){ %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"/>
<% } %> 

<div class="post">
  <h3 class="date">
    <%- page.date.format('MMM DD, YYYY') %>
    <% if (theme.analysis.enable){ %>
      <span id="busuanzi_container_page_pv" style='display:none'> &nbsp;&nbsp;Views: <span id="busuanzi_value_page_pv"></span></span>
    <% } %>  
  </h3>
  <h1>
    <%- page.title %>
  </h1>
  <div class="content markdown-body">
    <%- page.more %>
  </div>
  <% if(theme.prevnext.enable) { %>
    <% if(page.next) { %>
      <a id="older" class="blog-nav" href="<%- url_for(page.next.path) %>">OLDER&nbsp;&gt;</a>
      <% } %>
        <% if(page.prev) { %>
          <a id="newer" class="blog-nav" href="<%- url_for(page.prev.path) %>">&lt;&nbsp;NEWER</a>
          <% } %>
            <% } %>
</div>